* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

header {
  background-color: hsl(80, 23%, 90%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

header > div > #logo-img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
}

header > nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header > nav > button {
  font-weight: 600;
  text-transform: uppercase;
  background-color: hsl(80, 23%, 90%);
  padding: 0.55rem 2rem;
  border: none;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

header > nav > button:hover {
  color: rgba(0, 0, 0, 0.3);
}

#content {
  display: flex;
  height: calc(100vh - 4.9rem);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#content > #home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
  width: 100%;
  gap: 1rem;
  background-image: url("./vietnam_background_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content > #home-page-container > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

#left-container img,
#middle-container img,
#right-container img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 80%;
  max-height: 100%;
  border-radius: 2rem;
  animation: 2s raiseUp;
}

#left-container img:hover,
#middle-container img:hover,
#right-container img:hover {
  filter: blur(0.8px);
}

#left-container button,
#middle-container button,
#right-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem 1rem;
  background-color: hsl(80, 23%, 90%);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#content > #home-page-container > *:hover .overlay-button {
  opacity: 1;
}

@keyframes raiseUp {
  from {
    opacity: 0;
    transform: translateY(70%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
